.tic-tac-toe {
  padding: 20%;

  .tile {
    background-color: lightgrey;
    padding-top: 50%;
    text-align: center;
    margin: 1%;
    cursor: pointer;
  }

  .player1 {
    background-color:#2092D8;
    cursor: not-allowed;
  }

  .player2 {
    background-color:#DC143C;
    cursor: not-allowed;
  }
}
